<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772753228418-djobugq87io7i2ab7175bfedefjeuceg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772753228418-djobugq87io7i2ab7175bfedefjeuceg</string>
	<key>API_KEY</key>
	<string>AIzaSyA1ppVM3UVX8GzDOvLMpyNTxnAno6716_I</string>
	<key>GCM_SENDER_ID</key>
	<string>772753228418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lsdipDriver</string>
	<key>PROJECT_ID</key>
	<string>lsdiptest</string>
	<key>STORAGE_BUCKET</key>
	<string>lsdiptest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772753228418:ios:50d801d48d76550d65ea9b</string>
</dict>
</plist>